
#playmusic{
width:100%;
height:54px;
z-index:10000;
position:fixed;
bottom:-47px;
transition:all 0.3s ease-in-out;
}
#playmusic:hover{
  bottom:0;
}
#player{
  width: 100%;
  height: 53px;
  background-color: rgb(41, 217, 112);
  position:absolute;
  bottom:0;
  /*bottom: 30px;*/
  /*position: fixed;*/
  background: url("../../static/img/playbar.png");
  /*opacity: 0.9;*/
}
/* 音乐播放条*/
.playlock{
  display: block;
  position: absolute;
  right: 18px;
  bottom: 45px;
  width: 52px;
  height: 23px;
  /*opacity: 0.8;*/
  /*border: 1px solid #000;*/
  background: url('../../static/img/playbar.png') no-repeat 0px -379px;
}
/* 音乐锁定条*/

.playlock span{
  display: block;
  transform: translateY(4px);
  width: 18px;
  height: 18px;
  /*border: 1px solid #000;*/
  margin: 0 auto;
  background: url('../../static/img/playbar.png') no-repeat -79px -379px;
}
